html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

@media only screen and (max-width:768px) {
  html {
    font-size: 13px;
  }

}

p {
  margin: 0;
  padding: 0;
  white-space: pre-line;
  word-wrap: break-word;
}

span {
  display: inline-block;
}

ol, ul {
  list-style: none;
  margin:0;
  padding:0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border:none;
}

input[type="text"] {
  height:40px;
  padding:10px;
  border:1px solid #ccc;
}

textarea {
  border:none;
  resize: none;
}

input, textarea:focus {
  outline:none;
}

button {
  border:none;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color:#fc8742;
  border-radius: 10px;
  color:#fff;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color:var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight:bold;
  margin: 0;
  padding: 0;
}

hr {
  background-color:#fdc5a2;
  border-style:none;
  height:2px;
}

table {
  border-top:2px solid #ccc;
  border-bottom:2px solid #ccc;
  text-align:center;
  margin-bottom:30px;
  border-collapse: collapse;
}

tr:first-child {
  border-bottom:2px solid #ccc;
  padding:10px;
  font-weight: bold;
}

tr:first-child td {
  background-color:#fff0e8;
}

td {
  padding:10px;
}

td:first-child:not(tr:first-child td:first-child) {
  background-color: #e7e7e7;
  border-right: 1px solid #ccc;
}

td {
  border-bottom: 1px solid #ccc;
}

/* 브랜드 슬라이드 */


.brand-wrap .slick-slider {
  height:450px;
  display: flex;
}

.brand-wrap .arrow-box {
  font-size:2rem;
  position: absolute;
  color:#fff;
  display: flex;
  align-items: center;
  height:100%;
  cursor: pointer;
}

.arrow-box:first-child {
  left:-50px;
}

.arrow-box:last-child {
  right:-50px;
}

.brand-wrap .slick-track {
  display: flex;
}


.brand-wrap .slick-slide>div {
  position: relative !important;
  width:250px !important;
  height:150px !important;
  display: flex !important;
  align-items: center !important;
  justify-content:center !important;
}

.brand-wrap .slick-slide .brand-box {
  width:200px !important;
  height:100px !important;
}

.brand-wrap .slick-slide .brand-div {
  width:200px !important;
  height:100px !important;
  position: relative !important;
}

.brand-wrap .slick-slide {
  width:250px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* 갤러리 슬라이드  */
.gallery-wrap .slick-slider {
  display: flex;
} 

.gallery-wrap .arrow-box {
  font-size:2rem;
  position: absolute;
  display: flex;
  align-items: center;
  height:100%;
  cursor: pointer;
}

.gallery-wrap .arrow-box:first-child {
  left:-50px;
}

.gallery-wrap .arrow-box:last-child {
  right:-50px;
}
@media only screen and (max-width:768px) {

  .brand-wrap .slick-slider {
    height:150px;
    display: flex;
  }
  
  .brand-wrap .slick-slide>div {
    position: relative !important;
    width:125px !important;
    height:62.5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content:center !important;
  }
  
  .brand-wrap .slick-slide .brand-box {
    width:100px !important;
    height:42.5px !important;
  }
  
  .brand-wrap .slick-slide .brand-div {
    width:100px !important;
    height:42.5px !important;
    position: relative !important;
  }
  
  .brand-wrap .slick-slide {
    width:125px !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .brand-wrap .slick-list {
    height:250px !important;
    width: 250px !important;
  }

}



/* 
지난 전시회 슬라이드 css  */





* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --primary-color: #d44815;
  --secondary-color: #596863;
  
}

#star {
  color:var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

